@import url('https://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic');

html {
    font-family: "Play" !important;
    font-size: 14px !important;
}

h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, 
h4, .uk-h4, h5, .uk-h5, h6, .uk-h6 {
    font-family: "Play" !important;
}

.uk-navbar-nav > li > a,
.uk-navbar-item,
.uk-navbar-toggle {
    font-family: "Play" !important;
    font-size: 1rem !important;
    min-height: 50px !important;
}

.uk-logo {
    font-family: "Play" !important;
    font-size: 1rem !important;
}

.uk-nav-default {
    font-size: 1rem !important;
}

.uk-nav {
    text-transform: uppercase !important;
}

.uk-table-hover {
    cursor: pointer !important;
}

.uk-table-border {
    border: 1px solid #e5e5e5;
}

.uk-table-border-top {
    border-top: 1px solid #e5e5e5;
}

.uk-table-border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.uk-table-border-left {
    border-left: 1px solid #e5e5e5;
}

.uk-table-border-right {
    border-right: 1px solid #e5e5e5;
}

.uk-table-border-horizontal {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.uk-table-border-vertical {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.uk-table th {
    font-size: 0.9rem !important;
}

.uk-form-small {
    font-size: 1rem !important;
}

.uk-form-label {
    font-size: 0.9rem !important;
    text-transform: uppercase;
    cursor: pointer;
}

/* Child width */

.uk-child-width-1-7 > * {
    width: calc(100% * 1 / 7.001) !important;
}

@media (min-width: 640px) {
    .uk-child-width-1-7\@s > * {
        width: calc(100% * 1 / 7.001) !important;
    }
}

@media (min-width: 960px) {
    .uk-child-width-1-7\@m > * {
        width: calc(100% * 1 / 7.001) !important;
    }
}

@media (min-width: 1200px) {
    .uk-child-width-1-7\@l > * {
        width: calc(100% * 1 / 7.001) !important;
    }
}

@media (min-width: 1600px) {
    .uk-child-width-1-7\@xl > * {
        width: calc(100% * 1 / 7.001) !important;
    }
}