<section class="uk-section-secondary">
    <nav class="uk-preserve-color uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a>&copy; @DateTime.Now.Year - MTE / @@hhcorp</a></li>
            </ul>
        </div>
    </nav>
</section>