@{
    ViewBag.Title = "Главная";
}

MTE

<ul>
    <li>@Html.ActionLink("О программе", "About", "Home", new { area = "" }, new { })</li>
    <li>@Html.ActionLink("Контакты", "Contact", "Home", new { area = "" }, new { })</li>
</ul>