@using mte.Models
@using mte.Helpers

@model SmenesView

@using (Ajax.BeginForm("GetDataList", new { },
    new AjaxOptions
    {
        UpdateTargetId = "result",
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
        OnSuccess = "OnSuccess",
        OnComplete = "OnComplete"
    },
    new { @id = "frm_index" }))
{
    <nav class="uk-margin uk-navbar-container-default" uk-navbar>
        <div class="uk-navbar-left">
            <select class="uk-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
            <select class="uk-select">
                <option>Январь</option>
                <option>Февраль</option>
                <option>Март</option>
                <option>Апрель</option>
                <option>Май</option>
                <option>Июнь</option>
            </select>
            <select class="uk-select">
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
            </select>
        </div>

        <div class="uk-navbar-right">
            <div class="uk-inline">
                <a id="btn-find" class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: search"></a>
                @if (!string.IsNullOrEmpty(Request.QueryString["search"]))
                {
                    <a id="btn-find-cancel" class="uk-form-icon" href="#" uk-icon="icon: close"></a>
                }
                @Html.EditorFor(model => model.PageInfo.Search, new { htmlAttributes = new { id = "toolbar-search", @class = "uk-input", placeholder = "Поиск" } })
            </div>
        </div>
    </nav>
}

<div id="result"></div>

<div id="beginSpinner">
    <div uk-spinner></div>
    <span>&nbsp;Загрузка...</span>
</div>

<script type="text/javascript">

    function OnBegin() {
        $('#result').empty()
        $('#beginSpinner').show()
    }

    function OnSuccess(data) {
    }

    function OnFailure(request, error) {
    }

    function OnComplete(request, status) {
        $('#beginSpinner').hide()
    }

    $(document).ready(function () {
        $('#frm_index').submit()
    });

</script>