@using mte.Models
@using mte.Helpers

@model SmenesView

@using (Ajax.BeginForm("GetDataList", new { },
    new AjaxOptions
    {
        UpdateTargetId = "result",
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
        OnSuccess = "OnSuccess",
        OnComplete = "OnComplete"
    },
    new { @id = "frm_index" }))
{
    <nav class="uk-margin uk-navbar-container-default" uk-navbar>

        <div class="uk-navbar-left">

            <div class="uk-button-group">
                @{
                    var mdt = DateTime.DaysInMonth(DateTime.Now.Date.Year, DateTime.Now.Date.Month);
                }

                <select class="uk-select uk-width-auto" name="fday">
                    @for (int i = 1; i <= mdt; i++)
                    {
                        <option>
                            @i
                        </option>
                    }
                </select>

                <select class="uk-select uk-width-auto" name="fmonth">
                    @for (int i = 1; i <= 12; i++)
                    {
                        var dd = new DateTime(1, i, 1);

                        <option>
                            @dd.ToString("MMMM")
                        </option>
                    }
                </select>

                <select class="uk-select uk-width-auto" name="fyear">
                    @for (int i = DateTime.Now.Date.Year - 3; i <= DateTime.Now.Date.Year; i++)
                    {
                        <option>
                            @i
                        </option>
                    }
                </select>
            </div>

        </div>

        <div class="uk-navbar-right">
            <div class="uk-inline">
                <a id="btn-find" class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: search"></a>
                @if (!string.IsNullOrEmpty(Request.QueryString["search"]))
                {
                    <a id="btn-find-cancel" class="uk-form-icon" href="#" uk-icon="icon: close"></a>
                }
                @Html.EditorFor(model => model.PageInfo.Search, new { htmlAttributes = new { id = "toolbar-search", @class = "uk-input", placeholder = "Поиск" } })
            </div>
        </div>
    </nav>
}

<div id="result"></div>

<div id="beginSpinner">
    <div uk-spinner></div>
    <span>&nbsp;Загрузка...</span>
</div>

<script type="text/javascript">

    function OnBegin() {
        $('#result').empty()
        $('#beginSpinner').show()
    }

    function OnSuccess(data) {
    }

    function OnFailure(request, error) {
    }

    function OnComplete(request, status) {
        $('#beginSpinner').hide()
    }

    $(document).ready(function () {
        $('#frm_index').submit()

        $('select').change(function () {
            $('#frm_index').submit()
        });
    });

</script>