<ul class="uk-nav uk-nav-default">
    <li>@Html.ActionLink("Путевые листы", "Index", "WayBills", new { area = "aWayBills" }, new { })</li>
    <li>@Html.ActionLink("Путевые листы - Экипаж", "Index", "WayBillTeams", new { area = "aWayBills" }, new { })</li>
    <li>@Html.ActionLink("Путевые листы - Расписание", "Index", "WayBillFlightLists", new { area = "aWayBills" }, new { })</li>
</ul>