<ul class="uk-navbar-nav">
    <li>@Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { })</li>

    <li>@Html.ActionLink("Справочники", "Index", "Home", new { area = "Guides" }, new { })</li>
    <li>@Html.ActionLink("Путевые листы", "Index", "Home", new { area = "aWayBills" }, new { })</li>
    <li>@Html.ActionLink("Смена", "Index", "Home", new { area = "Smena" }, new { })</li>

</ul>